@media only screen and (max-width: 695px) {
  body {
    margin: 0 15px;
    padding: 15px 15px;
  }
  .nav-menu ul {
    flex-direction: column;
  }
  .header-contaiters {
    flex-wrap: wrap;
  }
  .hero-tex {
    max-width: 350px;
  }
  .hero-containers {
    flex-direction: column;
  }
  .about-section {
    flex-direction: column;
  }
  .servic-items {
    flex-wrap: wrap;
  }
  .protfulio-items {
    flex-direction: column;
  }
  .protfolio-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .testomonilas {
    flex-direction: column;
  }
  .newsltter-from input {
    max-width: 350px;
  }
  .news-tailel {
    max-width: 450px;
  }
  .foter-nav ul {
    flex-direction: column;
  }
  .news-tailel {
    flex-direction: column;
  }
}
